<div class="container-cabecalho">
  <h5>Receitas</h5>
  <button type="submit" (click)="criarReceita()">Criar Coleção</button>
</div>
<br><br>

<div class="fundo">

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Nome Receita</th>
        <th scope="col">Estilo Cerveja</th>
        <th scope="col">Responsável Receita</th>
        <th scope="col">Volume Receita</th>
        <th scope="col">Ultima Atualização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let receita of listaReceitas" [routerLink]="['/receitas/', receita.id]" class="linhaClicavel">

        <td>{{receita.nomeReceita}}</td>
        <td>{{receita.estilo}}</td>
        <td>{{receita.responsavelReceita}}</td>
        <td>{{receita.volumeReceita}}</td>
        <td>{{receita.ultima_atualizacao | date : 'dd/MM/yyyy'}}</td>

      </tr>

    </tbody>
  </table>
</div>

