<div class="container-cabecalho">
  <h5>Produção</h5>
</div>
<br>
<div class="fundo">
  <div class="container">

    <form [formGroup]="formProducao" *ngIf="formProducao" (ngSubmit)="produzirReceita()">
      <div class="container-quadro" >

        <br>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <select (change)="alteraItensCarregados()" class="form-select" formControlName="receita" >
              <option value="" disabled selected >Selecionar receita</option>
              <option *ngFor="let receita of listaReceitas" [ngValue]="receita.id">{{receita.nomeReceita}}</option>
            </select>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="estilo"  type="text" class="form-control" id="floatingNome" placeholder="Estilo Cerveja">
            <label for="floatingNome">Estilo Cerveja</label>
          </div>
        </div>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="volume"  type="number" class="form-control" id="floatingNome" placeholder="Volume Almejado">
            <label for="floatingNome">Volume Almejado</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="volumeApronte" type="number" class="form-control" id="floatingResponsavel" placeholder="Volume Apronte">
            <label for="floatingResponsavel">Volume Apronte</label>
          </div>
        </div>

        <div  class="row">
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="responsavel" type="text" class="form-control" id="floatingResponsavel" placeholder="Responsável">
            <label for="floatingResponsavel">Responsável</label>
          </div>
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="orcamento" type="number" class="form-control" id="floatingResponsavel" placeholder="Orçamento">
            <label for="floatingResponsavel">Orçamento</label>
          </div>
        </div>

      </div>
      <br>
<br><br><br>

  <div class="ajustaBotoes">

    <div class="botoesPadrao">
      <button type="submit" (click)="retornaDashboard()" class="btn btn-light botaoCancelar">Cancelar</button>
      <button type="submit" [disabled]="!formProducao.valid" class="btn btn-primary">Produzir</button>
    </div>

  </div>
    </form>
  </div>

</div>



