<div class="container-cabecalho">
  <h5>Estoque</h5>
  <button (click)="criarNovoEstoque()">Criar Novo Estoque</button>
</div>
<br><br>
<div class="fundo">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome estoque</th>
        <th scope="col">Nome ingrediente</th>
        <th scope="col">Quantidade total</th>
        <th scope="col">Valor Total</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="listaCombinada">
      <tr *ngFor="let ingrediente of this.listaCombinada" >
        <td>{{ingrediente.id}}</td>
        <td>{{ingrediente.nomeEstoque}}</td>
        <td>{{ingrediente.nomeIngrediente }}</td>
        <td>{{ingrediente.quantidade}}</td>
        <td>{{ingrediente.valorTotal | currency: 'BRL'}}</td>
        <td>
          <div class="botoesAcao">
            <button class="botãoAcao" (click)="alterarEstoque(ingrediente.id)">Alterar</button>
            <button class="botãoAcao"(click)="excluirEstoque(ingrediente.id)" [disabled]="verificarIngredientesAssociados(ingrediente.id)">Excluir</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


