
.container-quadro{
  border-radius: 1px;
  background-color: white;
  padding: 40px;
  width: 450px;
  border-radius: 5px;
}
img{
  width: 30px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.container{
  background-color: #f2f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;

}

button{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


h6, label, .texto{
  color: #d1cbcb;
  text-decoration: none;
}

 .acesso{
  text-decoration: none;
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;


 }

 .imagem{
  display: flex;
  align-items:center;
  position: absolute;
  justify-content: flex-start;
  cursor: pointer;
  top:20%;

}
