// background-color: #f2f5ff;

li a{
  text-decoration: none;
  color: #B4B6C1;
}


.corFundo{
  background-color: #fcfafa;
}

.mudaFundoBotao {
  background-color: #4C68FF;
  color: white !important;
  width: 160px;


}

.menu{
  margin-left: 20px;
}
