
<div class="container small">

  <form [formGroup]="formUsuario">

    <br><br><br><h3>Cervejaria</h3><br><br><br>
    <div class="container-quadro" *ngIf="textoBotao !== 'Ir para login'; else outraPagina ">
      <div class="imagem">
        <img src="../../../assets/seta-esquerda.png" alt="" routerLink="/login">
      </div>
      <div class="titulo">
        <h2>Redefinir Senha</h2>
        <h6>Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha</h6>
      </div>
      <br>
      <div  class="form-floating mt-3 mb-4">
        <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Informe seu e-mail</label>
      </div>
      <button (click)="onSubmit()" class="btn btn-primary">{{textoBotao}}</button>
    </div>

    <ng-template #outraPagina >
      <div class="container-quadro">
        <div class="imagem">
          <img src="../../../assets/seta-esquerda.png" alt="" routerLink="/login">
        </div>
        <div class="titulo">
          <h2>Redefinir Senha</h2>
          <h6 class="centralizador">Um link para redefinição de senha foi enviado para o seu e-mail {{email.value}}</h6>
        </div>
        <button (click)="retornaLogin()" class="btn btn-primary">{{textoBotao}}</button>
      </div>

    </ng-template>

  </form>

</div>

