<div class="container-cabecalho">
  <h5>{{titulo}}</h5>
</div>
<br>

<div class="fundo">
  <div class="container">
    <form [formGroup]="formReceita" *ngIf="formReceita" (ngSubmit)="modificaReceita()">
      <div class="container-quadro" >
        <br>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nome" type="text" class="form-control" id="floatingNome" placeholder="Nome Receita">
            <label for="floatingNome">Nome Receita</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="responsavelReceita" type="text" class="form-control" id="floatingResponsavel" placeholder="Responsável Receita">
            <label for="floatingResponsavel">Responsável Receita</label>
          </div>
        </div>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="estilo" type="text" class="form-control" id="floatingEstacao" placeholder="Estilo Cerveja">
            <label for="floatingEstacao">Estilo Cerveja</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="volumeReceita" type="text" class="form-control" id="floatingVolume" placeholder="Volume da Receita">
            <label for="floatingVolume">Qual volume dessa receita?</label>
          </div>
        </div>

        <div  class="row">
          <div class="form-floating mt-3 mb-4 col-6 ">

            <input  class="form-control" disabled id="floatingOrcamento" [value]="orcamento | currency: 'BRL'" placeholder="Orçamento">
            <label for="floatingOrcamento">Orçamento</label>
          </div>
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="quantidadeIngredientes" (change)="onChangecontagemIngrediente()"  type="number" min="0" class="form-control" id="floatingquantidadeIngrediente" >
            <label for="floatingquantidadeIngrediente">Quantidade de ingredientes</label>
          </div>
        </div>
        <h5>Ingredientes:</h5>
        <div >
          <div  formArrayName="ingredientes" *ngIf="numeroIngredientes.controls">
            <div class="row"  *ngFor="let ingrediente of numeroIngredientes.controls; let i=index" [formGroupName]="i">
              <div class="form-floating mt-3 mb-4 col-6">
                <select (change)="calculaOrcamento()" class="form-select" [id]="'ingrediente' + i"  formControlName="selectedIngredient" >
                  <option value="" disabled selected>Ingrediente {{ i + 1 }}</option>
                  <option *ngFor="let ingredienteItem of listaIngredientes" [value]="ingredienteItem.id">{{ingredienteItem.nomeIngrediente}}</option>
                </select>
              </div>
              <div class="form-floating mt-3 mb-4 col-6 ">
              <input formControlName="quantidade" (change)="calculaOrcamento()" type="text" class="form-control" id="floatingQuantidade" placeholder="Quantidade">
              <label for="floatingQuantidade">Quantidade do ingrediente</label>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div  class="imagemModa">
        <img src="../../../../assets/cliclo-moda.png">
      </div>
      <br>
      <div>
        <div class="ajustaBotoes">
          <div class="botaoExcluir" *ngIf="receitaId !== 'criar'">
            <button type="submit" class="btn btn-danger" (click)="excluiReceita()">Excluir</button>
          </div >
          <div class="botoesPadrao">
            <button type="submit" (click)="retornaPaginaReceita()" class="btn btn-light botaoCancelar">Cancelar</button>
            <button type="submit" [disabled]="!formReceita.valid" class="btn btn-primary">Atualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>


