<h3>Dashboard</h3>

<app-card [cervejasProduzidas]="cervejasProduzidas" [totalCusto]="totalCusto" [volumeProduzido]="volumeProduzido"></app-card>
<div class="fundo">
  <h5>Produções</h5>
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Nome Cerveja</th>
        <th scope="col">Estilo Cerveja</th>
        <th scope="col">Responsável</th>
        <th scope="col">Volume</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producao of ultimasProducoes">
        <td>{{producao.nomeReceita}}</td>
        <td>{{producao.estiloReceita}}</td>
        <td>{{producao.responsavelProducao}}</td>
        <td>{{producao.volumeProducao}}</td>
        <td>{{producao.dataProducao | date : 'dd/MM/yyyy'}}</td>
      </tr>

    </tbody>
  </table>
</div>

